header,
footer {
    width: full;
    display: flex;
    align-items: center;
    gap: 5px;
}

header {
    justify-content: space-between;
    padding: 10px;
}
footer {
    justify-content: center;
}

section {
    display: inline-block;
    padding: 10px;
    background-color: green;
}

div.cpu {
    background-color: red;
    display: grid;

    width: 700px;
    height: 700px;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

form.register {
    background-color: blue;
    grid-row: 1 / span 5;
}
form.ram {
    background-color: purple;
    grid-row: 6 / span 6;
}

form.status {
    background-color: pink;
    grid-row: 1 / span 2;
    grid-column: span 2;
}
form.pointers {
    background-color: green;
    grid-row: 3 / 3 span;
    grid-column: span 2;
}
form.opcode {
    background-color: cyan;
    grid-row: 6 / span 6;
    grid-column: span 2;
}
