.input--wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    input {
        height: 40px;
        border-radius: 10px;
        border: solid 4px black;
        box-shadow: inset 0px 0px 10px black;
    }
    label {
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: bolder;
        font-style: normal;

        font-size: 1.2rem;
    }
}
