header,
footer {
    width: full;
    display: flex;
    align-items: center;
    gap: 5px;
}

header {
    justify-content: space-between;
    background-image: linear-gradient(0deg, rgba(48, 48, 48, 0.5) 0%);
    background-repeat: repeat-x;
    padding: 10px;
}
footer {
    justify-content: center;
    margin-top: auto;
}

main {
    padding-top: 20px;
}
