header,
footer {
    width: full;
    display: flex;
    align-items: center;
    gap: 5px;
}

header {
    justify-content: space-between;
    padding: 10px;
}
footer {
    justify-content: center;
}

section {
    margin-left: 200px;
    display: inline-block;
}

/*new plan use ::before because this suck!*/
div.cpu {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(
        0deg,
        rgba(2, 35, 31, 1) 0%,
        rgba(5, 150, 105, 1) 25%,
        rgba(19, 244, 173, 1) 40%,
        rgba(5, 150, 105, 1) 87%,
        rgba(5, 150, 105, 1) 90%,
        rgba(5, 150, 105, 1) 90%
    );
    padding: 25px;
    display: grid;

    clip-path: path(
        'M 0,50 L 50,0 L 250,0 L 300,50 L 300,75 L 325,100 L 750,100 L 800,150 L 800,750 L 750,800 L 50,800 L 0,750 L 0,50 Z'
    );
    width: 800px;
    height: 800px;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
}
/*div.cpu::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 685px;
    height: 685px;
    transform: translate(-50%, -50%);
    background-color: red;
}*/
.link--wrapper {
    top: -40.5px;
    left: 0;
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 700px;
    gap: 10px;
    a {
        box-shadow: 0px 0px 0px 10px teal;
        width: 100px;
        padding: 5px;
        display: block;
        background-color: blue;
    }
    div {
        height: 20px;
        border: 5px solid black;
        border-bottom: none;
        border-left: none;
        background-color: red;
        flex: 1;
        width: full;
    }
}
