header,
footer {
    width: full;
    display: flex;
    align-items: center;
    gap: 5px;
}

header {
    justify-content: space-between;
    padding: 10px;
}
footer {
    justify-content: center;
}

section {
    margin-left: 200px;
    display: inline-block;
    padding: 10px;
    background-color: green;
}

/*new plan use ::before because this suck!*/
div.cpu {
    
    box-shadow: 0px -5px rgba(5, 150, 105, 1);
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(
        0deg,
        rgba(2, 35, 31, 1) 0%,
        rgba(5, 150, 105, 1) 25%,
        rgba(19, 244, 173, 1) 40%,
        rgba(5, 150, 105, 1) 87%,
        rgba(5, 150, 105, 1) 90%,
        rgba(5, 150, 105, 1) 90%
    );
    border-image-slice: 30;
    border-top: none;
    border-radius: 20px;
    padding: 10px;
    display: grid;

    width: 700px;
    height: 700px;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}
.link--wrapper {
    display: flex;
    align-items: flex-end;
    width: 700px;
    gap: 10px;
    a {
        height: 30px;
        border: 5px solid rgba(5, 150, 105, 1);
        border-bottom: none;
        display: block;
        background-color: blue;
    }
    div {
        height: 20px;
        border: 5px solid black;
        border-bottom: none;
        border-left: none;
        background-color: red;
        flex: 1;
        width: full;
    }
}
