ul.stat {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bolder;
    font-style: normal;
    li {
        margin-block: 10px;
        color: white;
        font-size: 1.25rem;
    }
    border: solid rgba(255, 255, 255, 0.3) 1px;
}
