.toast--wrapper {
    background-color: green;
    width: 300px;
    display: flex;
    & > .message--wrapper {
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: bolder;
        font-style: normal;
        font-size: 1rem;
    }
    border-radius: 20px;
    border: solid 5px black;
    padding: 10px;
    /*animation-name: move;*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes move {
    0% {
        transform: translateX(300px);
    }
    25% {
        transform: translate(0px);
    }
    75% {
        transform: translate(0px);
    }
    100% {
        transform: translateX(300px);
    }
}
