.toast--wrapper {
    background-image:
        url('/background.svg'),
        linear-gradient(
            180deg,
            rgba(0, 125, 86, 1) 0%,
            rgba(10, 170, 120, 1) 40%,
            rgba(19, 250, 150, 1) 100%
        );

    background-repeat: no-repeat, repeat;
    background-size: auto, auto;
    background-position:
        center center,
        center center;
    width: 300px;
    height: 85px;
    display: flex;

    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(2, 35, 31, 1);
}

.message--wrapper {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 1rem;

    p:first-child {
        text-transform: capitalize;
        font-size: 1.25rem;
    }
    p:nth-child(2) {
        color: black;
        opacity: 80%;
    }
}

@keyframes move {
    0% {
        transform: translateX(315px) skew(25deg, 0deg);
    }
    25% {
        transform: translate(-15px) skew(0deg, 0deg);
    }
    75% {
        transform: translate(-15px) skew(0deg, 0deg);
    }

    100% {
        transform: translateX(325px) skew(-25deg, 0deg);
    }
}
