.toast--wrapper {
    background-color: red;
    width: 300px;
    height: 85px;
    display: flex;

    margin-bottom: 15px;
    /*border-radius: 20px;*/
    border: solid 5px black;
    padding: 10px;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.message--wrapper {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 1rem;

    p:first-child {
        text-transform: capitalize;
        font-size: 1.25rem;
    }
    p:nth-child(2) {
        color: black;
        opacity: 70%;
    }
}

@keyframes move {
    0% {
        transform: translateX(315px) skew(25deg, 0deg);
    }
    25% {
        transform: translate(-15px) skew(0deg, 0deg);
    }
    75% {
        transform: translate(-15px) skew(0deg, 0deg);
    }

    100% {
        transform: translateX(325px) skew(-25deg, 0deg);
    }
}
