---
import Layout from '../../layouts/Layout.astro';
import { Link } from '../../components/composables/link';
import { CpuLayout } from '../../components/layout/CpuLayout';
---

<Layout title="CPU Functions">
    <main>
        <section>
            <div class="link--wrapper">
                <Link name="CPU" link="/cpu" />
                <Link name="Catridge" link="/cartridge" />
                <!-- to future lue: you will use this ghost to form the top part of the thing  -->
            </div>
            <CpuLayout />
        </section>
    </main>
</Layout>
