---
import Layout from '../../layouts/Layout.astro';
import { Link } from '../../components/composables/link';
import { CpuLayout } from '../../components/layout/CpuLayout';
---

<Layout title="CPU Functions">
    <main>
        <section>
            <div>
                <Link name="CPU" link="/cpu" />
                <Link name="Catridge" link="/cartridge" />
            </div>
            <CpuLayout />
        </section>
    </main>
</Layout>
