---
import Layout from '../../layouts/Layout.astro';
import { CpuLayout } from '../../components/layout/CpuLayout';
---

<Layout title="CPU Functions">
    <main>
        <section>
            <CpuLayout />
        </section>
    </main>
</Layout>
