.bagel-fat-one-regular {
    font-family: 'Bagel Fat One', system-ui;
    font-weight: 400;
    font-style: normal;
}

.bai-jamjuree-regular {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bolder;
    font-style: normal;
}

a.tab {
    background-color: none;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
