---
import Layout from '../layouts/Layout.astro';
import { MyButton } from '../components/composables/button';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div id="container">
        <div class="wrapper">
            <MyButton />
            <input type="file" id="fileInput" />
            <output id="output">No Games Loaded</output>
            <button class="button">STOP</button>
            <button class="clear">CLEAR</button>
        </div>
        <!-- the original canvas lenght is 144x160 -->
        <canvas width="160" height="144" id="canvas"></canvas>
    </div>
</Layout>

<script>
    import { Gameboy } from '../lib/Gameboy';

    import { loadFile } from '../lib/utils/File_Utils';

    const input = document.getElementById('fileInput');
    const button = document.querySelector('.button');
    const clearBtn = document.querySelector('.clear');
    const output = document.getElementById('output');

    let gameboy: Gameboy | null = null;

    input?.addEventListener('change', async (e) => {
        if (!output) throw new Error('Output element missing');

        const game = await loadFile(e);
        gameboy = new Gameboy(game);

        console.log(gameboy?.cartridge.getCartridgeHeaderRaw());
        console.log(gameboy?.cartridge.inferCartridgeHeader());

        gameboy.run();

        gameboy.cartridge.checkSum();
        output.innerText = 'Game Loaded';
    });

    button?.addEventListener('click', () => {
        gameboy?.stop();
    });

    clearBtn?.addEventListener('click', () => {
        gameboy?.canvas.clear();
    });
</script>

<style>
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(100px);
    }
    #canvas {
        border: 5px solid black;
        /* width: 432px;
        height: 480px; */
        width: calc(256px + 256px);
        height: calc(256px + 256px);

        image-rendering: pixelated;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    h2 {
        margin: 0 0 1em;
        font-weight: normal;
        color: #111827;
        font-size: 20px;
    }

    p {
        color: #4b5563;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.006em;
        margin: 0;
    }
</style>
