---
import Layout from '../../layouts/Layout.astro';
import { Link } from '../../components/composables/link';
---

<Layout title="Cartridge">
    <main>
        <section>
            <div>
                <Link name="CPU" link="/cpu" />
                <Link name="Catridge" link="/cartridge" />
            </div>
            <div class="wrapper">
                <input type="file" id="fileInput" />
                <output id="output">No Games Loaded</output>
            </div>
        </section>
    </main>
</Layout>
<script>
    import { Gameboy } from '../../lib/Gameboy';
    import { loadFile } from '../../lib/utils/File_Utils';

    const input = document.getElementById('fileInput');
    const button = document.querySelector('.button');
    const clearBtn = document.querySelector('.clear');
    const output = document.getElementById('output');

    let gameboy: Gameboy | null = null;
    input?.addEventListener('change', async (e) => {
        if (!output) throw new Error('Output element missing');

        const game = await loadFile(e);
        gameboy = new Gameboy(game);

        console.log(gameboy?.cartridge.getCartridgeHeaderRaw());
        console.log(gameboy?.cartridge.inferCartridgeHeader());

        gameboy.run();

        gameboy.cartridge.checkSum();
        output.innerText = 'Game Loaded';
    });

    button?.addEventListener('click', () => {
        gameboy?.stop();
    });
</script>
