---
import Layout from '../../layouts/Layout.astro';
import { CartridgeLayout } from '../../components/layout/CatridgeContainer';
import { ToastProvider } from '../../components/toast/ToastProvider';
---

<Layout title="Cartridge">
    <main>
        <section>
            <CartridgeLayout client:load />
            <ToastProvider client:load />
        </section>
    </main>
</Layout>
<script></script>
